<p style="color: green"><%= notice %></p>

<%= render @course %>

<%= link_to "Manage Batches", batches_path(course_id: @course.id) %>

<% if current_user.admin? || current_user.school_admin? %>
  <div>
    <%= link_to "Edit this course", edit_school_course_path %> |
    <%= button_to "Destroy this course", school_course_path, method: :delete %>
  </div>
<% end %>

<div>
  <%= link_to "Back to courses", school_courses_path %>
</div>
