<div id="<%= dom_id batch %>">
  <p>
    <strong>Batch Id:</strong>
    <%= batch.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= batch.name %>
  </p>

  <% if batch.students.present? %>
    <% if current_user.any_admin? || current_user.batches.pluck(:id).include?(batch.id) %>
      <strong>Students of this batch:</strong>
      <p>Student ID | Name | Email | phone</p>
      <% batch.students.each do |student| %>
        <p><%= student.id %> | <%= student.name %> | <%= student.email %> | <%= student.phone %></p>
      <% end %>
    <% end %>
  <% end %>
</div>
