<p style="color: green"><%= notice %></p>

<%= render @batch %>

<% if current_user.admin? || current_user.school_admin? %>
  <div>
    <%= link_to "Add student on this batche", new_student_batch_path(batch_id: @batch.id) %>
  </div>

  <div>
    <%= link_to "Edit this batch", edit_batch_path(course_id: @course.id) %> |
    <%= button_to "Destroy this batch", batch_path(@batch, {course_id: @course.id}), method: :delete %>
  </div>
<% end %>

<div>
  <%= link_to "Back to batches", batches_path(course_id: @batch.course_id) %>
</div>
